.App {
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 36px;
  color: #582417;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;        
  margin: 15px auto;
  padding-top: 5px;
}

.navigate button {
  padding: 10px 15px;
  font-size: 13px;
  background: #FFF7E6;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: 0.2s ease;
}

.navigate button:hover {
  background: #A35E24;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upload_title{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 34px;
    color: #582417;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.upload_option{
    color: #582417;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
    padding:10px;
}
body {
  margin: 0;
  padding: 0 20px;
}
